*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    height: 840px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/hero-Background.jpg);
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    padding: 20px;
}
nav > img{
    margin-left: 60px;
}
.navbar__menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap:0 54px;
}
.menu__1{
    color: #FE390C;
}
.menu{
    color: #A9A9AA;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
}
a{
    text-decoration: none;
}
.navbar__btn{
    padding: 12px 16px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #FE390C;  
    color: #FE390C;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    background-color: #00000000;
}
.hero__content{
    margin-top: 310px;
    margin-left: 200px;
}
.hero__content--text1{
    color: #FE390C;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px; 
    letter-spacing: -0.96px;
}
.hero__content--text2{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.96px;
}
h1{
    color: #FFF;
    font-family: 'Anton', sans-serif;
    font-size: 130px;
    line-height: 134px; 
    letter-spacing: 1.95px;
    text-transform: uppercase;
    margin: 12px 0;
}
.hero__content--text3{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.64px;
    margin-bottom: 24px;
}
.hero__btn{
    padding: 16px 24px;
    border-radius: 4px;
    background: #FE390C;
    border: none;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
}
.hero__icons{
    max-width: 100px;
    flex-direction: column;
    position: absolute;
    bottom: 220px;
    right: 150px;
}
.hero__icons img{
   margin-bottom: 32px;
}
.container{
    max-width: 1140px;
    height: 500px;
    margin: auto;
}
.about__me{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    gap: 0 61px;
    height: 412px;
    margin-top: 100px;
    flex-wrap: wrap;
}
.about__me img{
    height: 256px;
    object-fit: cover;
}
.me__1__item{
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: right;
    margin-top: 31px;
}
.me__1__item p{
    color: #111214;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px; 
    letter-spacing: -0.56px;
}
.me__1__wrapper{
    color: #FE390C;
    font-family: 'Anton', sans-serif;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    margin-left: 12px;
}
.me__2__item{
    display: flex;
    align-items: center;
    margin-bottom: 52px;
    margin-top: 40px;
}
.me__2__item p{
    color: #111214;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.56px;
}
.text{
    margin-right: 12px;
}
.me__text{
    margin-right: 4px;
}
.me__text__item{
    display: flex;
    align-items: center;
    gap: 0 24px;
}
.text__wrapper{
    color: #FE390C;
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-top: 35px;
}
.text__wrapper2{
    color: #111214;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-top: 25px;
}
.wrapper3{
    max-width: 429px;
    color: #A9A9AA;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px; 
    letter-spacing: -0.28px;
    margin-left: 100px;
}
.partners{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 310px;
    background: #F7F7F7;
    gap: 0 90px;
}
.next__project{
    height: 335px;
    border-radius: 2px;
    background: #111214;
    text-align: center;
    position: relative;
    top: -80px;
}
.next__project > img{
    position: relative;
    top: 0;
    left: 0;
}
.project__item{
    position: relative;
    top: -350px;
}
.project__text1{
    color: #FFF;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    padding-top: 73px;
}
.project__btn{
    padding: 16px 24px;
    gap: 10px;
    border-radius: 4px;
    background: #FE390C;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
    margin: 32px 0 24px 0;
}
.Download__CV{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
}
.Download__CV--text{
    color: #A9A9AA;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.56px;
}
.my__service{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 24px;
}
.service__text1{
    color: #FE390C;
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}
.service__text2{
    color: #111214;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
.service__cards{
    width: 100%;
    height: 260px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 61px;
    margin-top: 57px;
}
.service__card{
    padding: 39px 31px 31px 20px;
    background-color: rgba(247, 247, 247, 1);
}
.card__text1{
    color: #111214;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px; 
    letter-spacing: -0.64px;
    margin-top: 24px;
    margin-bottom: 8px;
}
.card__text2{
    color: #A9A9AA;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.28px;
}
.service__card:hover{
    background-color: #FE390C;
    p{
        color: #FFF;
    }
    transition: 0.6s;
}
.portfolio{
    height: 620px;
    background: #F7F7F7;
    margin-top: 400px;
    padding: 102px 149px 116px 150px;
    flex-wrap: wrap;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__wrapper1{
    display: flex;
    align-items: center;
    gap: 0 24px;
}
.wrapper1__text1{
    color: #FE390C;
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}
.wrapper1__text2{
    color: #111214;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
.navbar__wrapper2{
    display: flex;
    align-items: center;
    gap: 0 24px;
}
.navbar__wrapper2--btn{
    padding: 12px 16px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #FE390C;
    color: #FE390C;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: transparent;
}
.wrapper2__menu{
    display: flex;
    list-style-type: none;
    gap: 0 24px;
}
.wrapper2__menu a{
    color: #A9A9AA;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
}
.navbar__wrapper3{
    display: flex;
    gap: 0 24px;
}
.portfolio__cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 24px;
    margin-top: 93px;
}
.portfolio__card{
    max-width: 364px;
    width: 100%;
    height: 249px;
    background-image: url(../images/portfolio\ card\ img1.jpg);
    background-size: cover;
}
.portfolio__card2{
    max-width: 364px;
    width: 100%;
    height: 249px;
    background-image: url(../images/porfolio\ card\ img2.jpg);
    background-size: cover; 
}
.portfolio__card3{
    max-width: 364px;
    width: 100%;
    height: 249px;
    background-image: url(../images/porfolio\ card\ img3.jpg);
    background-size: cover; 
}
.card__text--item{
    display: none;
    text-align: center;
}
.portfolio__card:hover .card__text--item {
    display: block;
}
.portfolio__card2:hover .card__text--item {
    display: block;
}
.portfolio__card3:hover .card__text--item {
    display: block;
}
.item__text1{
    color: #FFF;
    font-family: 'Anton', sans-serif;
    font-size: 32px;
    text-transform: capitalize;
    margin-top: 90px;
}
.item__text2{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.64px;
}
.lines{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.testimonial{
    display: flex;
    gap: 0 122px;
    height: 422px;
    margin-top: 120px;
}
.testimonial__item1{
    height: 422px;
    max-width: 364px;
}
.testimonial__img{
    width: 100%;
}
.testimonial__item2{
    max-width: 429px;
    width: 100%;
    height: 100%;
}
.item2__wrapper{
    display: flex;
    align-items: center;
    gap: 0 24px;
}
.item2__text1{
    color: #FE390C;
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}
.item2__text2{
    color: #111214;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.8px;
    text-transform: uppercase; 
}
.item2__text3{
    color: #111214;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px; 
    letter-spacing: -0.28px;
}
.item2__text4{
    color: #FE390C;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px; 
    letter-spacing: -0.64px;
    margin-top: 31px;
    margin-bottom: 12px;
}
.item2__text5{
    color: #A9A9AA;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.56px;
    margin-bottom: 43px;
}
.testimonial__item3{
    max-width: 100px;
    width: 100%;
    height: 100%;
}
.item3__img1{
    margin-top: 50px;
    margin-left: 35px;
}
.btn__s{
    margin-top: 300px;
    display: flex;
    gap: 0 24px;
}
.item3__btn1{
    width: 39.879px;
    height: 40px;
    border-radius: 2px;
    background: #FE390C;
    border: none;
    padding: 10px;
}
.item3__btn1:hover{
    background-color: rgb(2, 50, 243);
    transition: 1s;
}
footer{
    height: 612px;
    background-image: url(../images/Bg\ \(1\).svg);
    padding-top: 97px;
}
.contact{
    margin: auto;
    max-width: 1200px;
    height: 430px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: center;
    gap: 0 95px;
}
.contact__information{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    
}
.item1{
   display: grid;
   grid-template-columns: 1fr 1fr;
   max-width: 144px;
   gap: 0 24px;
   margin-bottom: 20px;
}
.information--item__text1{
    color: #FE390C;
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}
.information--item__text2{
    color: #FFF;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-top: 25px;
}
.item{
    display: grid;
    grid-template-columns: 20px 350px;
    gap: 0 16px; 
}
.item > img{
    margin-top: 5px;
}
.text__information1{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.32px;
}
.text__information2{
    color: #A9A9AA;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
}
.items__icons{
    margin-top: 34px;
}
.items__icons img{
     margin-right: 28px;    
}
.inputs__text{
    color: #FFF;
    font-family: 'Anton', sans-serif;
    font-size: 24px;
}
.inputs__wrapper{
    display: grid;
    grid-template-columns: repeat(2,312px);
    gap: 0 30px; 
    margin-top: 40px;
}
.inputs__text2{
    color: #FE390C;
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.input__text{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
    margin-bottom: 12px;
}
.input__1{
    max-width: 312px;
    width: 100%;
    height: 54px;
    border-radius: 2px;
    background: rgba(202, 205, 209, 0.10);
    border: none;
    text-indent: 16px;
}
.input__2{
    max-width: 312px;
    width: 100%;
    height: 54px;
    border-radius: 2px; 
    background: rgba(202, 205, 209, 0.10);
    border: none;
    text-indent: 16px;
}
.input__3{
    width: 654px;
    height: 124px;
    border-radius: 2px;
    background: rgba(202, 205, 209, 0.10);
    border: none;
}
.input__wrapper--text{
    margin-top: 32px;
}
.input__3::placeholder{
    padding: 16px
}
.wrapper__btn{
    padding: 16px 24px;
    border-radius: 4px;
    background: #FE390C;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-top: 48px;
}
.studio{
    height: 80px;
    background: #0C0C0E;
    margin-top: 80px;
    text-align: center;
    padding-top: 30px;
}
.studio__text1{
    color: #A9A9AA;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.56px;
}
.studio__text2{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.56px;
}
.btns{
    display: flex;
    align-items: center;
    gap: 0 10px;
}
.hamburger__menu{
     display: none;
}
@media only screen and (max-width: 1024px){
      .hero__content{
        margin-left: 0;
      }
      .about__me{
        display: grid;
        grid-template-columns: 1fr  3fr;
        grid-template-rows: 1fr 1fr 2fr;
    }
    .service__cards{
        width: 100%;
        height: 260px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 61px;
        margin-top: 57px;
    }
    .testimonial{
        gap: 0 60px;
    }
}
@media only screen and (max-width: 786px){
    .navbar__menu{
      display: none;
    }
    .hamburger__menu{
        display: block;
    }
    h1{
        font-size: 100px;
    }
    .hero{
        background-image: url(../images/Background.jpg);
    }
    .navbar__btn{
        display: none;
    }
    .service__cards{
        width: 100%;
        height: 260px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 15px 61px;
        margin-top: 57px;
        text-align: center;
    }
    .testimonial{
        gap: 0 15px;
    }
}